<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to "Cart", cart_path, class: 'btn btn-link btn-sm' %></li>
  <li><%= link_to "Log in", login_path, class: 'btn btn-link btn-sm' %></li>
  <li><%= link_to "Browse All Items", items_path, class: 'btn btn-link btn-sm' %></li>
  <li><%= link_to "Order History", orders_path, class: 'btn btn-info btn-sm' %></li>
</ul>

<% if !@cart_contents.empty? %>
  <ul>
  <% @cart_contents.each do |item_id, quantity| %>
    <li><%= Item.find(item_id).name %>
        (<%= quantity %>)
        <%= button_to "Add Item", cart_path(item_id: Item.find(item_id)) %>
        <%= button_to "Remove Item", cart_path(item_id), method: :delete %>

    </li>
<% end %>
  </ul>
    <%= button_to "Checkout", orders_path %>
<% else %>
  <p> "There are no items in your cart" </p>
<% end %>
