
<% if !@cart_contents.empty? %>
  <ul>

    <% @cart.items_with_quantity.each do |item, quantity| %>
      <li>
        <%= item.name %>
        <%= quantity %>
        <%= button_to "Add Item", cart_path(item_id: item.id) %>
        <%= button_to "Remove Item", cart_path(item), method: :delete %>
      </li>
    <% end %>

  </ul>
    <%= button_to "Checkout", orders_path %>
<% else %>
  <p> "There are no items in your cart" </p>
<% end %>
