<h3>Update Item</h3>
<%= form_for([:admin, @item]) do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %>
  <%= f.label "Description" %>
  <%= f.text_area :description %>
  <%= f.label "Price" %>
  <%= f.text_field :price %><br><br>
  <div id="true">
    <%= f.radio_button(:retired, "true") %>
    <%= f.label(:retired, "Retired") %>
  </div>
  <div id="false">
    <%= f.radio_button(:retired, "false") %>
    <%= f.label(:retired, "Active") %>
  </div>

  <figure class="default-pic">
    <%= image_tag @item.avatar.url(:thumb) %>
  </figure>

  <%= f.label "Upload Image" %>
  <%= f.file_field :avatar %><br>
  <%= f.label :remote_avatar_url, "or image URL" %>
  <%= f.text_field :remote_avatar_url %>
  <%= f.submit "Update Item" %>
<% end %>
  <%= link_to "Delete Item", admin_item_path, method: :delete %>
