<h3>Create Toast</h3>
<%= form_for([:admin, @item]) do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %>
  <%= f.label "Description" %>
  <%= f.text_field :description %>
  <%= f.label "Price" %>
  <%= f.text_field :price %><br><br>
  <%= f.label "Upload Image" %>
  <%= f.file_field :avatar %><br>
  <%= f.submit "Create Toast" %>
<% end %>
