  <h1>Order: <%= @order.id %></h1>

    <%= @order.created_at %><br>
    <%= @order.user.username %><br>
    <%= @order.user.email_address %><br>
    <br>
  <table class="table table-striped">
    <tr>
      <th>
        Item
      </th>
      <th>
        Quantity
      </th>
      <th>
        Price
      </th>
      <th>
        Subtotal
      </th>
    </tr>
  <% @order.items_with_quantity.each do |item, quantity|%>
    <tr>
      <td><%= link_to item.name, admin_item_path(item) %></td>
      <td><%= quantity %></td>
      <td><%= number_to_currency(item.price) %></td>
      <td><%= number_to_currency(@order.line_item_total(item, quantity)) %></td>
    </tr>
  <% end %>

  </table>

Status: <%= @order.status %>
  <% if @order.status == "ordered" %>
    <%= render partial: "pay_or_cancel" %>
  <% elsif @order.paid? %>
      <%= render partial: "complete_or_cancel" %>
  <% end %>
<br>

Updated: <%= time_ago_in_words(@order.updated_at) %> ago
<br>
Order Total: <%= number_to_currency(@order.total) %>
<br>
<br>
