<h1>Order: <%= @order.id %></h1>

<ul>
  <li><%= @order.created_at %></li>
  <li><%= @order.user.username %></li>
  <li><%= @order.user.email_address %></li>
</ul>

<% @order.items_with_quantity.each do |item, quantity|%>
  <li>
    <%= link_to item.name, admin_item_path(item) %>
    <%= quantity %> @ <%= number_to_currency(item.price) %>
    = <%= number_to_currency(@order.line_item_total(item, quantity)) %>
  </li>
<% end %>
</ol>

<li>Status: <%= @order.status %>
 <%= form_for [:admin, @order] do |f| %>
   <div id="ordered">
   <%= f.radio_button(:status, "ordered") %>
   <%= f.label(:status, "Ordered") %>
 </div>
 <div id="paid">
   <%= f.radio_button(:status, "paid") %>
   <%= f.label(:status, "Paid") %>
 </div>
 <div id="completed">
   <%= f.radio_button(:status, "completed") %>
   <%= f.label(:status, "Completed") %>
 </div>
 <div id="cancelled">
   <%= f.radio_button(:status, "cancelled") %>
   <%= f.label(:status, "Cancelled") %>
 </div>

   <%= f.submit "Submit" %>
 <% end %>

</li>

<li>Updated: <%= time_ago_in_words(@order.updated_at) %> ago</li>

<li>Order Total: <%= number_to_currency(@order.total) %></li>
