<h3><%= current_user.username %>'s Orders</h3>

<ol>
  <% @orders.each do |order| %>

    <ol>
      <% order.items_with_quantity.each do |item, quantity|%>
        <li>
          <%= link_to item.name, item_path(item) %>
          <%= quantity %> @ <%= order.format_currency(item.price) %>
          = <%= order.line_item_total(item, quantity) %>
        </li>
      <% end %>
    </ol>

    <li>Status: <%= order.status %></li>
    <li>Updated: <%= time_ago_in_words(order.updated_at) %> ago</li>

    <li>Order Total: <%= order.total %></li>
  <% end %>
</ol>
