<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to "Cart", cart_path, class: 'btn btn-link btn-sm' %></li>
  <li><%= link_to "Log in", login_path, class: 'btn btn-link btn-sm'  %></li>
  <li class="active"><%= link_to "Browse All Items", items_path, class: 'btn btn-link btn-sm' %></li>
  <li><%= link_to "Order History", orders_path, class: 'btn btn-info btn-sm' %></li>
</ul>

<h3>All Items</h3>

<% @items.each do |item| %>
  <%= link_to  item.name, item %>
  <%= button_to  'Add to Cart', cart_path(item_id: item) %>
<% end %>
